body {
    font-family: Arial, sans-serif;
    text-align: center;
    background:#f4f4f4;
    padding: 2rem;
}

input{
    padding: 0.5rem;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 0.7rem 1rem;
    margin-left: 0,5rem;
    cursor: pointer;
    background: #222;
    color: #fff;
    border: none;
    border-radius: 5px;
}

button:hover {
    background: #444;
}

#weather-output {
    margin-top: 2rem;
    background: #fff;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

#weather-output h2 {
    margin-bottom: 0.5rem;
}

#weather-output p {
    margin: 0.3rem 0;
    font-size: 1.1rem;
}